/* Загальні стилі для сторінки */
body {
    font-family: Arial, sans-serif;
    background-color: #c15d5d;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Стилі для заголовка */
h1 {
    color: #333;
    text-align: center;
}

/* Стилі для основного контенту */
p {
    color: #666;
}

/* Стилі для посилань */
a {
    color: #3F4137;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
